<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="alternate" type="application/rss+xml" title="RaumZeitLabor RSS Feed" href="/feed.xml"/>
        <!-- build:css(app) /styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(app) /styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
        {{ page.htmlheader }}
    </head>
    <body class="rzl-body">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- build:js(app) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top rzl-nav" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/images/rzl-logo.svg" id="rzl-logo"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/blog/">Neuigkeiten</a></li>
                <li><a href="/events/">Events</a></li>
                <li><a href="https://wiki.raumzeitlabor.de/wiki/Hauptseite">Wiki</a></li>
                <li><a href="/bilder/">Bilder</a></li>
                <li><a href="/videos/">Videos</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Der Verein<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/verein/satzung/">Satzung</a></li>
                    <li><a href="/verein/mitgliedschaft/">Mitgliedschaft</a></li>
                    <li><a href="/verein/beitragsordnung/">Beitragsordnung</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kontakt<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/kontakt/anfahrt/">Anfahrt</a></li>
                    <li><a href="/kontakt/mailingliste/">Mailingliste</a></li>
                    <li class="divider"></li>
                    <li><a href="/impressum/">Impressum</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right rzl-status">
                 <li><a href="http://s.rzl.so"><span class="raumstatus label label-warning">lade…</span></a>
                 </li>
               </ul>
            </div><!--/.nav-collapse -->
            
          </div>
        </div>

        <div class="jumbotron">
          <div class="container">
            <h1>RaumZeitLabor</h1>
            <p class="button-subtext">200m² Digitalkultur im Rhein-Neckar-Dreieck</p>
          </div>
          <p style="font-size: 12px; float: right;"><br/>Bild © CC-BY 2.0 <a href="https://www.flickr.com/photos/scytale/5358248726/in/photostream/">Tim Weber</a></p>
        </div>

        <div class="rzl-spacer">
        <div class="container">
            <div class="rzl-content">
                {% unless page.notitle %}
                <div class="row">
                    <div class="col-lg-12"><h1>{{ page.title }}</h1></div>
                </div>
                {% endunless %}
                {{ content }}
            </div>
        </div>
        </div>

        <div class="rzl-footer">
            <div class="container">
                <div class="row" style="padding-top:20px;padding-bottom:10px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12" style="margin-bottom:0">
                        <p style="margin-bottom:0;"><span style="font-weight:bold">Made with free software and <i class="fa fa-heart"></i></span><span style="float:right;"><a href="https://github.com/raumzeitlabor/rzl-homepage/issues">Verbesserungsvorschlag?</a></span></p>
                    </div>
                </div>
                <div class="row" style="margin-top:0;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="footer-group">
                    <h4>Accounts</h4>
                    <ul>
                        <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/raumzeitlabor" data-category="Footer" data-event="Footer: Twitter">Twitter</a></li>
                        <li><i class="fa fa-github"></i> <a href="https://github.com/raumzeitlabor" data-category="Footer" data-event="Footer: Github">Github</a></li>
                        <li><i class="fa fa-youtube"></i> <a href="http://www.youtube.com/user/raumzeitlabor" data-category="Footer" data-event="Footer: Youtube">Youtube</a></li>
                        <li><i class="fa fa-flickr"></i> <a href="https://www.flickr.com/groups/rzl" data-category="Footer" data-event="Footer: Flickr">Flickr</a></li>
                        <li><i class="fa fa-tumblr"></i> <a href="http://log.raumzeitlabor.de/" data-category="Footer" data-event="Footer: Tumblr">Tumblr</a></li>
                    </ul>
                    </div>
                    <div class="footer-group">
                    <h4>Spenden</h4>
                    <ul>
                        <li><a href="/verein/spenden/" data-category="Footer" data-event="Footer: Überweisung">Überweisung</a></li>
                        <li><a href="http://www.amazon.de/b?node=530484031&tag=raumzeitlabor-21" data-category="Footer" data-event="Footer: Amazon">Amazon</a></li>
                        <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PRKBBSYZ9EYT6" data-category="Footer" data-event="Footer: Paypal">Paypal</a></li>
                        <li><a href="https://flattr.com/thing/109176/RaumZeitLabor" data-category="Footer" data-event="Footer: Flattr">Flattr</a></li>
                    </ul>
                    </div>
                    <div class="footer-group">
                    <h4>Rechtliches</h4>
                    <ul>
                        <li><i class="fa fa-legal"></i> <a href="/impressum/" data-category="Footer" data-event="Footer: Impressum">Impressum</a></li>
                    </ul>
                    </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12" style="font-size:12px;color:#ccc;margin-top:1em">rzl-homepage/<span id="git-rev">ENOVERSION</span></div>
                </div>
            </div>
        </div>

        <!-- build:js(app) /scripts/plugins.js -->
        <script src="/bower_components/bootstrap/js/affix.js"></script>
        <script src="/bower_components/bootstrap/js/alert.js"></script>
        <script src="/bower_components/bootstrap/js/dropdown.js"></script>
        <script src="/bower_components/bootstrap/js/tooltip.js"></script>
        <script src="/bower_components/bootstrap/js/modal.js"></script>
        <script src="/bower_components/bootstrap/js/transition.js"></script>
        <script src="/bower_components/bootstrap/js/button.js"></script>
        <script src="/bower_components/bootstrap/js/popover.js"></script>
        <script src="/bower_components/bootstrap/js/carousel.js"></script>
        <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="/bower_components/bootstrap/js/collapse.js"></script>
        <script src="/bower_components/bootstrap/js/tab.js"></script>
        <script src="/bower_components/jquery-waypoints/waypoints.js"></script>
        <!-- endbuild -->

        <!-- build:js(app) /scripts/main.js -->
        <script src="/scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
