---
layout: default
notitle: true
noexcerpt: true
---
<div class="row">
    <div class="col-lg-12"><h1>Blogpost</h1></div>
{% include blogpost.html blogpost=page %}
</div>
<div class="row rzl-separator">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr></div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <p><a href="/">zurück zum Blog</a></p>
    </div>
</div>
