---
layout: post
title: Hello, world!
date: 2009-10-19 17:43:00.000000000 +02:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Das Projekt <strong>Hackerspace Rhein-Neckar</strong> organisiert sich derzeit auf der Projektseite von <strong>RaumZeitLabor</strong>, was als Interims-Arbeitstitel für das neue Projekt angesehen werden sollte.</p>
<p>Unter der Domain <strong>raumzeitlabor.de</strong> gibt es derzeit</p>
<ul>
<li><a href="http://raumzeitlabor.de/">Die Hauptseite</a> mit aktuellen Infos unter dem Namen <strong><a href="http://raumzeitlabor.de/">raumzeitlabor.de</a>/</strong></li>
<li><a href="http://wiki.raumzeitlabor.de/wiki/">Das Wiki</a> unter dem Namen <strong><a href="http://raumzeitlabor.de/wiki/">raumzeitlabor.de/wiki/</a></strong></li>
<li><a href="http://lists.raumzeitlabor.de/">Die Mailinglisten</a> unter dem Namen <strong><a href="http://lists.raumzeitlabor.de/">lists.raumzeitlabor.de/</a></strong></li>
</ul>
<p>Alle aktiven Projektbeteiligten sollten sich einen Account hier  einrichten und bekommen in Absprache mit mir (ich bin hier nur der  Hausmeister!) dann die entsprechenden Zugriffsrechte auf diesen Blog.</p>
<p>Have fun!<br /> Raphael</p>
</div>
