---
layout: post
title: Die (vorläufige) Vorratsdatenabschiedsparty
date: 2010-03-02 15:39:00.000000000 +01:00
categories: []
tags:
- Party
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p>Laut Bundesverfassungsgericht ist die <a href="http://www.bundesverfassungsgericht.de/pressemitteilungen/bvg10-011.html">“Konkrete Ausgestaltung der<br /> Vorratsdatenspeicherung nicht verfassungsgemäß”</a>.</p>
<p style="text-align: left;">Aus diesem Grund würden wir uns freuen, mit  euch gemeinsam auf das vorläufige Ende der  Vorratsdatenspeicherung  anzustoßen und diesen Teilerfolg zu feiern.</p>
<p style="text-align: left;"><strong>Wann:</strong> Heute! 2. März 2010, ab 20 Uhr<br /> <strong>Wo:</strong> RaumZeitLabor, Boveristraße 22-24 (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Anfahrtsbeschreibung</a>)</p>
<p style="text-align: left;">Für das leibliche Wohl, WLAN und Creative Commons Musik ist gesorgt.</p>
