---
layout: post
title: Logowettbewerb
date: 2010-02-16 14:04:00.000000000 +01:00
categories: []
tags:
- Logo
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Da als Name nun offiziell RaumZeitLabor beschlossen wurde, können wir uns ab jetzt auf die Suche nach einem Logo machen.</p>
<p>Hierfür haben wir einen Logowettbewerb gestartet. Genaueres kannst du unter <a href="http://wiki.raumzeitlabor.de/wiki/Logowettbewerb">http://raumzeitlabor.de/wiki/Logowettbewerb</a> nachlesen. Der Wettbewerb läuft bis zum 04.03.2010. Solltest du eine gute Idee haben, beteilige dich bitte!</p>
</div>
