---
layout: post
title: 'Bits & Bites Brunch #2'
date: 2010-04-20 21:59:00.000000000 +02:00
categories: []
tags:
- Bits & Bites Brunch
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none imgupl_styles_spacing_5"><img src="/assets/toaster_new.png" alt="163" title="" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="462" height="170" /> <span class="image_meta"></span></span></p>
<p>Der erste Bits &amp; Bites – Brunch war lecker und erfolgreich. Deswegen gibt’s jetzt Nachschlag.</p>
<p>Wir laden euch zum zweiten Mal ein, um mit uns im RaumZeitLabor zu  brunchen. Toast, frische Brötchen, Tee und Kaffee gibt es reichlich. Für  das Drum, Dran und Drauf ist ebenfalls gesorgt. Es gibt Eier in  verschiedenen Variationen, Wurst, Käse und andere Brotaufstriche.  Marmelade und Nutella natürlich auch.</p>
<p>Die Wahrscheinlichkeit beim Brunch auch auf Kuchen, Muffins oder anderes Gebäck zu treffen ist recht hoch.</p>
<p>Wer Müsli, Cornflakes, Ähnliches oder auch was ganz anderes möchte, melde sich bitte in den Kommentaren.</p>
<p>Kühlschrank, Herd und Backofen stehen zum Frischhalten, bzw.  Zubereiten warmer Speisen bereit. Bei gutem Wetter können wir auch  draußen mit dem Gasgrill zaubern.</p>
<p><strong>Wann:</strong> Sonntag, 30. Mai, ab 12 Uhr<br /> <strong>Wo:</strong> RaumZeitLabor (<a title="Anfahrtsbeschreibung" href="http://wiki.raumzeitlabor.de/wiki/Anfahrt" target="_blank">Anfahrtsbeschreibung</a>)</p>
<p>Wir freuen uns auf euer zahlreiches Erscheinen.</p>
