---
layout: post
title: 'Rätsel der Woche #1'
date: 2010-07-03 15:41:00.000000000 +02:00
categories: []
tags:
- Rätsel der Woche
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p>Ab sofort gibt es was Neues zum Mitmachen im RaumZeitLabor: <a href="http://wiki.raumzeitlabor.de/wiki/R%C3%A4tsel">Das Rätsel der Woche</a></p>
<p>Et voilà hier die #1:</p>
<p style="text-align: center;"><span class="wysiwyg_imageupload image imgupl_floating_none imgupl_styles_spacing_5"><img src="/assets/raetsel_1.jpg" alt="191" title="" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="450" height="256" /> <span class="image_meta"></span></span></p>
<p>Zusätzlich habt ihr auch die Möglichkeit eure Lösungsvorschläge in die Kommentare hier zu posten.</p>
