---
layout: post
title: Es wird wohnlich
date: 2010-01-25 16:00:00.000000000 +01:00
categories: []
tags:
- Projekt
- Vorhang
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_5"><img src="/assets/vorhang.png" alt="156" title="" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="399" /> <span class="image_meta"></span></span>Dank des unermüdlichen Einsatzes vieler Helfer, konnten wir gestern den ersten Vorhang bewundern.</p>
<div class="postentry">
<p>Obwohl er trotz seiner schönen Farbe so unscheinbar aussieht, waren  viele Leute an dem Werk beteiligt. Ausmessen, günstige Lieferanten  suchen, Vorkasse, bestellen, Gardinenleisten einkaufen, montieren, Stoff  zuschneiden, nähen, Fenster putzen und vieles mehr war zu erledigen.  Mit Teamgeist und dem Willen, einen ordentlichen Raum für Projekte zu  gestalten wurde die Aufgabe angegangen und steht kurz vor ihrer  Vollendung.</p>
<p>An Arbeitskraft fehlt es uns momentan weniger (obwohl die quasi  hauptamtlich Aktiven sich eine Entlastung herbeisehnen), doch die  finanziellen Mittel und Sachspenden bedürfen noch einiges an  Aufstockung. Deswegen der Hinweis an dieser Stelle auf <a href="http://wiki.raumzeitlabor.de/wiki/Spenden">die Spendenseite im Wiki</a>.</p>
</div>
