---
layout: post
title: RaumZeitLabor goes offline!
date: 2011-10-31 12:51:20.000000000 +01:00
categories: []
tags:
- c't
- heise
- Offline
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: else
  email: simon+rzl@iodev.org
  display_name: else
  first_name: ''
  last_name: ''
---
<p style="text-align: right;"><span style="font-family: arial, sans-serif; line-height: 17px;"><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" title="" src="/assets/IMG_20111029_020924_1.jpg" alt="84" width="560" height="215" /> </span><span style="font-family: Arial, Helvetica, sans-serif; line-height: 20px;"><br />
<em>c't spezial: „hardware hacks“ (Seite 11)</em></p>
<p></span></span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">Große Freude im RaumZeitLabor, als uns die Nachricht erreichte, dass wir nun auch den Weg in die Welt der Internetausdrucker gefunden haben. Im Heise Sonderheft „<a href="http://www.heise.de/mediadaten/ct/special/hacks.shtml">c't spezial Hardware Hacks</a>“ (Preis: 8,90 €) ist der RaumZeitLabor e.V. (wie es sich für eine vollständige Berichterstattung gehört) als Mannheimer Hackerspace unter unserer Offlineadresse in MA-Bugvalley (Käfertal) erwähnt und freundlicherweise auch für weiter anreisende Hacker auf der Karte "Hackerspaces und Fablabs im deutschsprachigen Raum" platziert</span><span style="font-family: arial, sans-serif; line-height: 17px;"> (siehe Seite 11)</span><span style="font-family: arial, sans-serif; line-height: 17px;">.</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">„Uns Technikbegeisterten freut es“, so die Autorin des Editorials Christiane Rütten, „dass die junge Hackerszene mit dem Hardware-Hacking wieder zurück zu den Wurzeln des Selbermachens findet und dennoch mit ihrer globalen Vernetzung einen aufregenden, neuen Weg beschreitet.“ Dem können wir uns nur anschließen!</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">Für Erstbesucher in der Offlinewelt bietet es sich übrigens an, der <a href="http://raumzeitlabor.de/anfahrt">Anfahrtsbeschreibung</a> Beachtung zu schenken. Ein guter Tag für Neulaboranten ist üblicherweise unser Tag der offenen Tür (jeden Dienstag ab 19 Uhr), aber auch jede andere angekündigte Veranstaltung aus dem <a href="http://raumzeitlabor.de/events">Kalender</a> oder der <a href="http://lists.raumzeitlabor.de/mailman/listinfo/raumzeitlabor">Mailingliste</a>.</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">Wenn Du die Mission „RaumZeitLabor“ für unterstützenswert hälst, kannst Du dem Verein beitreten oder uns mit einer finanziellen Spende unter die Arme greifen.</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">  Empfänger: RaumZeitLabor e.V.<br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" />  Kontonummer: 39061040<br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" />  Bankleitzahl: 67050505<br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" />  Institut: Sparkasse Rhein-Neckar Nord</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;">Wir freuen uns über die Besucher die durch diese Erwähnung bereits zu uns gefunden haben und finden werden. Übrigens: Wir haben noch <a href="http://wiki.raumzeitlabor.de/wiki/KleinProzessorZ%C3%BCchter#Baus.C3.A4tze">Bausätze</a> (TV-B-Gone, …) auf Lager!</span></p>
<p><span style="font-family: arial, sans-serif; line-height: 17px;"><strong>Bis dahin: Viel Spaß am Gerät wünscht</strong><br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" /><strong>der RaumZeitLabor e.V.</strong><br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" />Boveristraße 22-24<br style="font-family: arial, sans-serif; font-size: 13px; line-height: 17px;" />68309 Mannheim</span></p>
