---
layout: post
title: DIY-Platinenbelichter
date: 2011-08-20 09:06:46.000000000 +02:00
categories: []
tags:
- Belichter
- Platine
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: felicitus
  email: privat@timohummel.com
  display_name: Felicitus
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/IMG_0472.jpg" alt="74" width="300" height="225" /></span><br />
<em>Es hat sich das erste Gerät in der Ätzecke eingefunden. Ein Platinenbelichter.</em></p>
<p>Einen Platinenbelichter benötig man bei der Herstellung von selbst geätzten Platinen - genau gesagt um fotobeschichtete Platinen mit UV-Licht zu belichten.</p>
<p>Auf Basis eines Scanners, zwei Gesichtsbräunern und eines Atmel Attiny2313 entstand in ca. 80 Arbeitsstunden ein UV-Belichter für gleichzeitg beidseitiges Belichten.</p>
<p>Mittels eines Drehimpulsgebers lassen sich Belichtungszeit und die Seiten (Oben, Unten oder Beidseitig) einstellen. Der Belichter verfügt über eine Not-Abschaltung beim Öffnen, da UV-Licht schädlich für die Augen ist.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/IMG_0466.jpg" alt="75" width="300" height="400" /> </span></p>
<p>Viele Bilder vom Bau des Belichters sowie den Schaltplan für die Ansteuerplatine ist im <a href="http://wiki.raumzeitlabor.de/wiki/Belichter">Wiki</a> zu finden.</p>
