---
layout: post
title: Löten lernen
date: 2011-06-20 11:11:16.000000000 +02:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: felicitus
  email: privat@timohummel.com
  display_name: Felicitus
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img src="/assets/Draehte-parallel.jpg" alt="55" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="225" /> <span class="image_meta"></span></span></p>
<p>Wir haben jetzt einen kleinen Lötworkshop erstellt, womit du in einigen Übungen das Elektroniklöten erlernen kannst. Die Lötübungen kannst du im RaumZeitLabor durchführen, alle benötigten Werkzeuge sind vor Ort.</p>
<p>Du kannst sogar einen kleinen Bausatz erwerben, mit dem du keine teuren Bauteile zum Üben "verschwenden" mußt.&nbsp;</p>
<p><a href="http://wiki.raumzeitlabor.de/wiki/L%C3%B6ten_lernen">Den Workshop findest du in unserem Wiki</a>.</p>
