---
layout: post
title: 'Heute im RaumZeitLabor: Offene RaumZeitLaborierung'
date: 2011-11-01 15:24:00.000000000 +01:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: tiefpunkt
  email: severin@schols.de
  display_name: tiefpunkt
  first_name: Severin
  last_name: Schols
---
<p>Nachdem der wöchentliche oqlt-Treff nun auf den Donnerstag gerutscht ist, gibt es jeden Dienstag die Offene RaumZeitLaborierung im RaumZeitLabor. Du warst noch nie im RaumZeitLabor? Dann komm vorbei und werde ganz  schnell zum RaumZeitLaborant. Denn heute sind auf jeden Fall genug Leute da, und es ist wieder richtig was los. Eine kurze Vorschau:</p>
<ul>
<li>Muzy hält eine Kurzversion seines Vortrags <a href="http://programm.openrheinruhr.de/2011/events/87.de.html">"Pizzaproxys und die Welt  der Massenbestellungen"</a>. Wenn wir ihm gut zureden, dann macht er auch den ganzen  Vortrag. </li>
<li>Nachdem das Erste unserer <a href="http://wiki.raumzeitlabor.de/wiki/PRON_%28LED-Wall%29">LED-Panels</a> gestern schon versucht hat, ein  wenig Blinkenlights auf die großartige Halloween-Party zu bringen, wird  Severin heute versuchen, noch ein paar mehr neue Animationen dafür zu  bauen.</li>
<li>Es wird kräftig miniert! Komm und mach mit unserer Minecraft-Crew die  einzigartige <a href="http://wiki.raumzeitlabor.de/wiki/Minecraft">RaumZeitLabor-Minecraft-Welt</a> noch mehr awesome!</li>
<li>Es gibt noch eine Menge Bausätze. Du willst löten lernen? Dann schnapp  dir eine Moodlamp, TV-B-Gone, ... und leg los. Keine Sorge, wir helfen  dir auch gerne.&nbsp;</li>
</ul>
<p>Also los, <a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">komm vorbei</a>. Bis heut abend!</p>
