---
layout: post
title: Troopers12 embroidery wars
date: 2012-03-26 00:58:36.000000000 +02:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: tabascoeye
  email: tabascoeye@gmx.de
  display_name: TabascoEye
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/troopers_collage_0.png" alt="140" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="560" height="156" /> <span class="image_meta"></span></span></p>
<p>Vom 19. bis 23. März fand in Heidelberg die <a href="http://www.troopers.de">Troopers12</a> IT-Sicherheitskonfernez statt. Das RaumZeitLabor als lokaler Hackerspace brachte als Spielzeug seine <a href="https://wiki.raumzeitlabor.de/wiki/Stickmaschine">USB-Stickmaschine</a> mit, um die Troopers T-shirts der Teilnehmer zu verschönern.</p>
<p>Gegen eine Spende bestickten wir auch Lab-coats mit eigenen Stickmustern. Diese Möglichkeit nutzten unter anderem <a href="http://www.cs.dartmouth.edu/~sergey/">Sergey Bratus</a> und <a href="http://en.wikipedia.org/wiki/Gary_McGraw">Gary McGraw</a>. Die Ergebnisse können sich sehen lassen :o)</p>
<p>Vielen Dank an Florian, Pascal, <a href="http://ernw.de/">ERNW</a> und alle Besucher der Troopers. See you next year!</p>
