---
layout: post
title: 'Bald in eurem Hackerspace: Big Bashing Bout'
date: 2012-01-22 15:52:02.000000000 +01:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: blabber
  email: tobias.rehbein@web.de
  display_name: blabber
  first_name: ''
  last_name: ''
---
<h1><span class="editsection"></span><span class="mw-headline" style="font-weight:bold;">Was sind die "Big Bashing Bouts"? </span></h1>
<p>Ihr kennt sie alle, die ungeklärten Fragen des Nerdtums. Fragen die <span style="font-weight:bold;"> Freundschaften</span> zerstören können. Fragen die man auf Mailinglisten und im  IRC erst stellt nachdem man sich eine alternative Identität erschaffen  hat. Fragen die ungelöstes Konfliktpotenzial bedeuten, das unter der  Oberfläche schlummert um irgendwann herauszubrechen.</p>
<p>Wir vom RaumZeitLabor möchten andere Wege gehen und diesen Fragen Raum geben. Herzlich willkommen zu den "Big Bashing Bouts".</p>
<h1><span class="editsection" style="font-weight:bold;">Regeln</span><span class="mw-headline"></span></h1>
<p>Es wird ein Thema vorgegeben. Freiwillige "Verteidiger" übernehmen die  Präsentation und Verteidigung ihres präferiertes  Werkzeugs/Tools/Programms (ab jetzt $dings genannt) zu diesem Thema.  Jeder "Verteidiger" hält einen Kurzvortrag zu dem $dings welches er  verteidigt. Danach heißt es "Flame on!" und die anderen "Verteidiger"  sowie die Zuschauer dürfen ihre Meinung zu dem $dings des Verteidigers  loswerden. Ernsthafte Fragen? Trollerei? Ungerechtfertigte Vorurteile  gegen das $dings? Alles ist erlaubt. Ein Spaß für die ganze Familie!</p>
<h1><span class="editsection"><span style="font-weight:bold;">Der Gewinner</span></span></h1>
<p>Wie bei allen Flamewars gibt es auch bei den "Big Bashing Bouts" keine Gewinner.</p>
<p><span style="font-weight:bold;">Mehr Infos?</span></p>
<p>Im <a href="http://wiki.raumzeitlabor.de/wiki/Big_Bashing_Bout">Wiki</a> findet ihr heraus wie ihr mitmachen könnt.</span></p>
