---
layout: post
title: Sommerloch? Nicht im RaumZeitLabor!
date: 2012-07-20 17:14:25.000000000 +02:00
categories: []
tags:
- log 3D-Drucker Textilpresse FaZzZ0r Projekte
status: publish
type: post
published: true
meta: {}
author:
  login: tabascoeye
  email: tabascoeye@gmx.de
  display_name: TabascoEye
  first_name: ''
  last_name: ''
---
<p><strong>Habt ihr nichts zu tun?</strong></p>
<p>"Seit über 30&nbsp;Tagen keine Aktivität im Blog des RZL? Was ist da los?"</p>
<p>Nun. Es hat sich eigentlich nur keiner erbarmt, einen langen Blogbeitrag zu den vielen Dingen zu schreiben, die so passiert sind und passieren, in unserem Lieblingshackerspace.</p>
<p>In der 140-Zeichen-Generation erfreut sich dafür unser&nbsp;<a href="http://log.raumzeitlabor.de/">log.raumzeitlabor.de</a>&nbsp;einer großen Beliebtheit.<br />Wer dieses im letzten Monat fleißig verfolgt hat, weiß, dass wir inzwischen stolze Besitzer einer Textilpresse und eines 3D-Druckers sind!</p>
<p>&nbsp;<strong>Heiße Presse ist heiß</strong></p>
<p>Unser Shirt-Design vom Ponygrillen hat es zu&nbsp;<a href="http://www.3dsupply.de">3D Supply</a>&nbsp;geschafft und es uns so ermöglicht, eine Textilpresse zu erwerben.<br />Damit können wir nun selbst T-shirts "bedrucken". Dazu gibt es sogenannte Transferfolien, die aus zwei Lagen bestehen. Unser <a href="http://fazzz0r.soup.io">FaZzZ0r</a>&nbsp;schneidet ein gespiegeltes Motiv aus der oberen, farbigen Folie aus, während die untere, transparente Trägerfolie intakt bleibt. Nach dem Entgittern wird die Folie auf das Shirt gelegt und in der Textilpresse bei 160°C mit dem Stoff verbunden.</p>
<p><a href="http://log.raumzeitlabor.de/post/25252977355/das-raumzeitlabor-hat-eine-t-shirt-presse">Den Vorgang in bebildert gibt es im Log</a></p>
<p><strong>Heilige Plastikwurst, Batman!</strong></p>
<p>Der gemeine Nerd kann ja nie genug Technikspielzeug um sich versammeln, und so kam es, dass wir über eine zweckgebundene Spende der <a href="http://www.wauland.de/">Wau Holland Stiftung</a>&nbsp;an einen 3D Drucker gelangt sind.<br />Es handelt sich hierbei um das Modell "<a href="http://ultimaker.com/">Ultimaker</a>" aus den Niederlanden.<br />Derzeit gewöhnt er sich noch an seine neue Umgebung und druckt daher noch nicht perfekte Ergebnisse, aber <a href="http://log.raumzeitlabor.de/post/27253260701/erste-druckversuche-mit-dem-ultimaker">die ersten Drucke</a> lassen auf eine großartige Zeit hoffen.<br /><a href="http://www.thinkjd.de/2012/07/aus-virtuell-wird-physisch-teil-1/">In seinem Blog</a> und bei der <a href="http://www.youtube.com/user/raumzeitlabor">offenen RaumZeitLaborierung</a> erklärt ThinkJD, wie genau man nun von der Idee zum realen, gedruckten Objekt kommt.&nbsp;</p>
<p><strong>sonst nichts??</strong></p>
<p>Nicht wirklich. Außer vielleicht <a href="http://log.raumzeitlabor.de/post/25423718457/reverse-engineering-rzl">die reverse engineerten Buspanel von Felicitus</a>, <a href="http://log.raumzeitlabor.de/post/24821855603/oh-eine-eismaschine-fur-mehr-softeis-im">die grandiose, geliehene Softeismaschine aus München (frozen hacking)</a>, <a href="http://log.raumzeitlabor.de/post/25466568152/raspberry-pi-case-fresh-out-of-the-fazzz0r">tolle Gehäuse für Raspberry PI</a>, <a href="http://log.raumzeitlabor.de/post/25752318252/der-raumzeitlabor-konferenztisch-jetzt-neu-mit">Verschönerungen am Hackerspace</a>, <a href="http://log.raumzeitlabor.de/post/26072896568/ein-led-wurfel-entsteht">LED Würfel Konstrukte</a>,&nbsp;<a href="https://wiki.raumzeitlabor.de/wiki/Hydroponischer_Garten">Plastikfeuchtbiotope</a>,&nbsp;<a href="https://raumzeitlabor.de/wiki/Vortr%C3%A4ge">viele Vorträge</a>&nbsp;und der übliche Nerdspaß.</p>
<p><strong>Kommt vorbei!</strong></p>
<p>Wie immer gilt: Kommt vorbei, wenn die Tür offen ist!<br />Ob das der Fall ist, könnt ihr entweder auf <a href="http://status.raumzeitlabor.de">status.raumzeitlabor.de</a> prüfen, oder gleich auf dem neuen, <a href="http://cosm.tiefpunkt.com/infoscreen/">epischen Infoscreen</a>, den Tiefpunkt gehackt hat.&nbsp;</p>
<p>Ihr seht, der Sommer im RaumZeitLabor ist heißer, als das Wetter dieses Jahr...</p>
