---
layout: post
title: Einladung zur Gnoblauchprogrammiernacht 2013 (GPN13)
date: 2013-06-04 19:47:26.000000000 +02:00
categories: []
tags: []
status: publish
type: post
published: true
meta:
  _edit_last: '16'
author:
  login: silsha
  email: hallo@silsha.me
  display_name: silsha
  first_name: Felix
  last_name: Arndt
---
<div><a href="/assets/uploads/2013/06/Screen-Shot-2013-06-04-at-19.44.25.png"><img class="size-thumbnail wp-image-219756 alignright" alt="GPN13 Logo" src="/assets/Screen-Shot-2013-06-04-at-19.44.25-200x200.png" width="200" height="200" /></a>Die letzte vom RaumZeitLabor veranstaltete GPN [1] war auch dank der Hilfe unserer Aussenstelle in Karlsruhe [2] ein riesen Erfolg, Zeit also, das tolle Event wieder stattfinden zu lassen!</div></p>
<div id="magicdomid981">Wir laden daher alle Lebewesen der intergalaktischen Gemeinschaft zur ultimativen GnoblauchProgrammierNacht ins RaumZeitLabor [3]. Gemeinsam genießen wir Spezialitäten mit der Arzneipflanze des Jahres 1989 und coden für den Weltfrieden (oder für was auch immer). Rumnerden mit Tschunk und Lötzinn ist selbstverständlich auch erlaubt.</div></p>
<div id="magicdomid927">Kommt also zahlreich und bringt eure Lieblingsspezialität mit Knoblauch zum gemeinsamen Erleben mit.</div></p>
<div><a title="GnoblauchProgrammierNacht (GPN13) im Wiki" href="https://wiki.raumzeitlabor.de/wiki/GPN13">Einen Fahrplan sowie eine Möglichkeit zum Eintragen eigener Mitbringsel findet sich in unserem Wiki.</a></div></p>
<div id="magicdomid1005">Beginn ist am Samstag den 15.06.2013 um 19 Uhr.</div></p>
<div id="magicdomid398">[1] <a href="http://gulas.ch">http://gulas.ch</a></div>
<div id="magicdomid496">[2] <a href="http://entropia.de">http://entropia.de</a></div>
<div id="magicdomid525">[3] <a href="http://raumzeitlabor.de">http://raumzeitlabor.de</a></div>
