---
layout: post
title: Zweiter Agenda Diplom 2014 Workshop
date: 2014-07-14 20:13:12.000000000 +02:00
categories: []
tags: []
status: publish
type: post
published: true
meta:
  _edit_last: '28'
author:
  login: rami
  email: webmaster@raphaelmichel.de
  display_name: rami
  first_name: ''
  last_name: ''
---
<p>Nach dem <a href="https://raumzeitlabor.de/blog/roboter-erfolgreich-zum-leben-erweckt-agenda-diplom-2014-im-raumzeitlabor-startet-mit-grossem-interesse/" title="Roboter erfolgreich zum Leben erweckt – Agenda Diplom 2014 im RaumZeitLabor startet mit großem Interesse">erfolgreichen Start im Mai</a> fand am vergangenen Wochenende der zweite Termin des „Agenda Diplom für Kinder“ der Stadt Mannheim im RaumZeitLabor statt. Unter dem Motto „Wir erwecken Roboter zum Leben“ haben wir erneut mit drei Gruppen von acht- bis zwölfjähriger Kinder Lego-Mindstorms-Roboter programmier, mit Aufgaben steigenden Schwierigkeitsgrades.</p>
<!--more-->
<p><a href="/assets/uploads/2014/07/IMG_6393b.jpg"><img src="/assets/IMG_6393b-333x500.jpg" alt="IMG_6393b" width="333" height="500" class="alignnone size-medium wp-image-220533" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6402b.jpg"><img src="/assets/IMG_6402b-500x333.jpg" alt="IMG_6402b" width="500" height="333" class="alignnone size-medium wp-image-220534" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6408b.jpg"><img src="/assets/IMG_6408b-500x333.jpg" alt="IMG_6408b" width="500" height="333" class="alignnone size-medium wp-image-220535" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6417b.jpg"><img src="/assets/IMG_6417b-500x333.jpg" alt="IMG_6417b" width="500" height="333" class="alignnone size-medium wp-image-220536" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6426b.jpg"><img src="/assets/IMG_6426b-500x333.jpg" alt="IMG_6426b" width="500" height="333" class="alignnone size-medium wp-image-220538" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6456b.jpg"><img src="/assets/IMG_6456b-500x333.jpg" alt="IMG_6456b" width="500" height="333" class="alignnone size-medium wp-image-220539" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6464b.jpg"><img src="/assets/IMG_6464b-500x333.jpg" alt="IMG_6464b" width="500" height="333" class="alignnone size-medium wp-image-220540" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6473b.jpg"><img src="/assets/IMG_6473b-500x333.jpg" alt="IMG_6473b" width="500" height="333" class="alignnone size-medium wp-image-220541" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6450b.jpg"><img src="/assets/IMG_6450b-500x333.jpg" alt="IMG_6450b" width="500" height="333" class="alignnone size-medium wp-image-220544" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6465b.jpg"><img src="/assets/IMG_6465b-500x333.jpg" alt="IMG_6465b" width="500" height="333" class="alignnone size-medium wp-image-220545" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6483b.jpg"><img src="/assets/IMG_6483b-500x333.jpg" alt="IMG_6483b" width="500" height="333" class="alignnone size-medium wp-image-220546" /></a></p>
<p><a href="/assets/uploads/2014/07/IMG_6489b.jpg"><img src="/assets/IMG_6489b-500x333.jpg" alt="IMG_6489b" width="500" height="333" class="alignnone size-medium wp-image-220542" /></a></p>
